include *.rst
include babel.cfg
include tox.ini
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include spoonbill *.po
recursive-include spoonbill *.mo
recursive-include spoonbill *.pot
recursive-include tests *.json
recursive-include tests *.py
recursive-include tests *.state
recursive-include tests *.txt
