include LICENSE
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include tests *.py
exclude .pre-commit-config.yaml
exclude .readthedocs.yaml
