name: create-docs
on:
  workflow_dispatch:
  push:
    branches:
       - master
       - main
    paths:
       - 'docs/**'
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2.2.2
      with:
        python-version: 3.7
    - uses: actions/cache@v2
      with:
        path: ${{ env.pythonLocation }}
        key: ${{ runner.os }}-${{ secrets.CACHE_NAME }}-${{ hashFiles('**/setup.py') }}
        restore-keys: |
          ${{ runner.os }}-${{ secrets.CACHE_NAME }}-
    - name: Install
      run: |
            pip install .[docs]
    - name: Build
      run: |
            cd ./docs
            make html
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/_build/html
        force_orphan: true
